body{
    font-family: 'Foldit', cursive;
    font-family: 'Kanit', sans-serif;
}
article {
    color: rgb(255, 0, 0);
    font-size: 17;
}
a{
    color:rgb(93, 30, 7);
    text-decoration: none;
    border: none;
}
/*color al pasar el mouse*/
a:hover{
    color: rgb(38, 113, 113);
}
p {
    color: black;
    font-size: 14;
}
hr {
    border-bottom: 17px; 
    padding-bottom: 7px;
    background-color: blue;
}
h1,h2,h3,h4,p,a{
    margin: 17px;
}
/*Uso de una clase en css*/
.resaltar_texto{
    color: yellowgreen;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}
.pie{
    text-align: center;
    color: darkgreen;
}