/* estilos principales de la página */
body{
   font-family: 'Lato', sans-serif;
}


nav ul{
    padding-left: 0px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #333333;
}
a{
    text-decoration: none;
    color: #aa0000;
    font-weight: 700;
}
textarea{
    width: 50%;
    height: 117px;
    background-color: beige;
}
input{
    background-color: beige;
}
label{
    width: 117px;
    display: block;
    margin-bottom: 0px;
    margin-top: 8px;
}
textarea{
    width: 117px;
    height: 17px;
}
